extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed magna vitae nunc commodo malesuada. Maecenas consequat orci vitae nulla bibendum, sit amet rhoncus lorem ultrices. Phasellus pharetra ante vitae ipsum aliquet, sit amet viverra enim mollis. Maecenas a vehicula sapien. Fusce tellus purus, tincidunt vel eleifend eu, dapibus consequat neque. Praesent euismod, enim at convallis malesuada, arcu massa sagittis nulla, quis tincidunt dolor urna vitae turpis. Vivamus quis dignissim massa, at sodales ligula.
                p In tempus lorem sit amet diam laoreet imperdiet. Cras metus nisi, vestibulum quis viverra eu, gravida quis massa. Duis blandit, libero dapibus imperdiet facilisis, diam nulla ultricies nulla, non malesuada risus sapien a magna. Suspendisse potenti. Sed ipsum ante, posuere ac lacus non, semper vehicula nisi. Aliquam erat volutpat.
                p Aenean finibus neque tortor, eu tincidunt turpis rutrum tincidunt. Ut dui dolor, imperdiet imperdiet tellus ac, dictum vulputate urna. Duis laoreet, lectus id mattis cursus, lacus sapien rutrum eros, sit amet volutpat orci purus eget urna. Aliquam sit amet pretium purus, ac efficitur ex. Quisque vitae ligula in ante rhoncus iaculis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono de Seguridad", class="img-fluid mb-4")        
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed magna vitae nunc commodo malesuada.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono de Destinos", class="img-fluid mb-4")        
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed magna vitae nunc commodo malesuada.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono de Precios", class="img-fluid mb-4")        
                    h2.mb-4 Mejor Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed magna vitae nunc commodo malesuada.
                