extends ../layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-3 #{pagina}

        .row
            .col-md-12
                include ../layout/partials/testimoniales                    

            .col-md-12.mt-5
                h2.text-center Agrega un Testimonial

                if (errores)
                        ul.list-group.mb-5
                            each error in errores
                                li.list-group-item.list-group-item-danger #{error.mensaje}

                .row.justify-content-center
                    .col-md-8   
                        form(action='/testimoniales', method="POST")
                            .form-group
                                label(for="nombre") Nombre
                                input(type="text", placeholder="Tu Nombre", name="nombre", id="nombre", class="form-control", value=nombre)
                            .form-group
                                label(for="correo") Correo Electronico
                                input(type="text", placeholder="Tu Correo Electronico", name="correo", id="correo", class="form-control", value=correo)
                            .form-group
                                label(for="mensaje") Mensaje
                                textarea#mensaje(name="mensaje", cols="3", rows="10" placeholder="Tu Mensaje", class="form-control")=mensaje
                            input.btn.btn-success.btn-block(type="submit", value="Agregar") 
                
