blockquote.text-center Lee sobre Nuestros clientes y sus experiencias

.row.testimoniales
    each testimonial in testimoniales
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                        p.mb-0
                            | #{testimonial.mensaje}
                        footer.blockquote-footer
                            | #{testimonial.nombre}